@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #F50000 0%, #E6D4D4 100%);
}

p {
    color: black;
}

.nav-link {
    color: aquamarine;
}


.navbar-nav .nav-link.active {
    color: rgb(96, 96, 96);
}

.navbar-brand img {
    width: 40px;
}

.bg-body-tertiary {
    background-color: rgb(51, 51, 51) !important;
}

.navbar-toggler {
    background-color: rgb(96, 96, 96);
}

.sidebar {
    color: black;
    background: linear-gradient(270deg, #F50000 0%, #E6D4D4 100%);
}

.card {
    background: linear-gradient(270deg, #F50000 0%, #E6D4D4 100%);
    color: black;
}

.card a {
    text-decoration: none;
    color: rgb(195, 195, 195);
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

footer,
.btn-outline-primary {
    background: linear-gradient(270deg, #F50000 0%, #E6D4D4 100%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: call 2s ease 0s infinite normal forwards;
}

@keyframes call {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}

